<a href="https://colab.research.google.com/github/granantuin/Model_vs_data_label/blob/master/Copia_de_Display_x_y_data_rawmodel.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
from sklearn.metrics import confusion_matrix ,accuracy_score,f1_score,recall_score
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3Aietf%3Awg%3Aoauth%3A2.0%3Aoob&scope=email%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdocs.test%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive.photos.readonly%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fpeopleapi.readonly&response_type=code

Enter your authorization code:
··········
Mounted at /content/drive

In [0]:
y_data=pd.read_excel("/content/drive/My Drive/Colab Notebooks/model_vs_data/Coron_Mars_H24to48_dir/y_data.xlsx")
x_data=pd.read_csv("/content/drive/My Drive/Colab Notebooks/model_vs_data/Coron_Mars_H24to48_dir/x_data",usecols=range(1,10))

In [0]:
NE=y_data[(y_data["value"]>22.5) & (y_data["value"]<67.5)]
NE["label"]="NE"
E=y_data[(y_data["value"]>67.5) & (y_data["value"]<112.5)]
E["label"]="E"
SE=y_data[(y_data["value"]>112.5) & (y_data["value"]<157.5)]
SE["label"]="SE"
S=y_data[(y_data["value"]>157.5) & (y_data["value"]<202.5)]
S["label"]="S"
SW=y_data[(y_data["value"]>202.5) & (y_data["value"]<247.5)]
SW["label"]="SW"
W=y_data[(y_data["value"]>247.5) & (y_data["value"]<292.5)]
W["label"]="W"
NW=y_data[(y_data["value"]>292.5) & (y_data["value"]<337.5)]
NW["label"]="NW"
N=y_data[(y_data["value"]>337.5) | (y_data["value"]<22.5)]
N["label"]="N"
winds=[NE,N,E,SE,S,SW,W,NW]
y_data=pd.concat(winds)
y_data=y_data.sort_values(by="data")

In [0]:
x_data["date"]=y_data["data"]

In [0]:
x_data

In [21]:
for c in ['0', '1', '2', '3', '4', '5', '6', '7', '8']:
  NE=x_data[(x_data[c]>22.5) & (x_data[c]<67.5)]
  NE["label"+c]="NE"
  E=x_data[(x_data[c]>67.5) & (x_data[c]<112.5)]
  E["label"+c]="E"
  SE=x_data[(x_data[c]>112.5) & (x_data[c]<157.5)]
  SE["label"+c]="SE"
  S=x_data[(x_data[c]>157.5) & (x_data[c]<202.5)]
  S["label"+c]="S"
  SW=x_data[(x_data[c]>202.5) & (x_data[c]<247.5)]
  SW["label"+c]="SW"
  W=x_data[(x_data[c]>247.5) & (x_data[c]<292.5)]
  W["label"+c]="W"
  NW=x_data[(x_data[c]>292.5) & (x_data[c]<337.5)]
  NW["label"+c]="NW"
  N=x_data[(x_data[c]>337.5) | (x_data[c]<22.5)]
  N["label"+c]="N"
  winds=[NE,N,E,SE,S,SW,W,NW]
  x_data=pd.concat(winds)
  x_data=x_data.sort_values(by="date")

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  import sys
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  # This is added back by InteractiveShellApp.init_path()
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  del sys.path[0]
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [22]:
x_data.ilo

,0,1,2,3,4,5,6,7,8,date,label0,label1,label2,label3,label4,label5,label6,label7,label8
0,29.499012,34.249710,39.813938,28.238842,30.686619,33.847137,30.026739,29.294735,27.265432,2019-03-14 00:00:00,NE,NE,NE,NE,NE,NE,NE,NE,NE
1,27.027140,26.847342,41.540962,27.134975,25.681156,25.659489,28.766544,26.278988,23.272011,2019-03-14 01:00:00,NE,NE,NE,NE,NE,NE,NE,NE,NE
2,25.024418,20.422375,43.493797,27.944735,22.081125,19.831207,30.292189,23.950249,17.509216,2019-03-14 02:00:00,NE,N,NE,NE,N,N,NE,NE,N
3,23.781433,24.329815,46.426708,27.036730,23.813618,32.513447,30.777351,25.687275,22.774883,2019-03-14 03:00:00,NE,NE,NE,NE,NE,NE,NE,NE,NE
4,26.092249,26.874090,60.812695,29.435574,22.791876,38.518333,33.829628,26.718771,21.608833,2019-03-14 04:00:00,NE,NE,NE,NE,NE,NE,NE,NE,N
5,29.701077,41.016762,66.072411,28.283348,27.003233,54.818302,31.131701,24.389812,26.106457,2019-03-14 05:00:00,NE,NE,NE,NE,NE,NE,NE,NE,NE
6,33.701271,38.284737,63.509884,35.553566,30.590395,56.561806,39.214493,31.526075,28.314304,2019-03-14 06:00:00,NE,NE,NE,NE,NE,NE,NE,NE,NE
7,29.466146,26.158558,45.159542,31.693689,24.228292,21.816416,35.644981,27.795618,19.260176,2019-03-14 07:00:00,NE,NE,NE,NE,NE,N,NE,NE,N
8,34.638920,33.883064,46.683334,37.186829,33.165157,35.233013,38.265724,32.803131,28.648710,2019-03-14 08:00:00,NE,NE,NE,NE,NE,NE,NE,NE,NE
9,27.759472,23.374437,42.150928,27.500582,22.791958,21.489141,30.434858,25.127529,20.935457,2019-03-14 09:00:00,NE,NE,NE,NE,NE,N,NE,NE,N
10,27.655682,22.729393,23.549782,29.724737,24.034887,18.325998,32.535686,26.733662,19.915110,2019-03-14 10:00:00,NE,NE,NE,NE,NE,N,NE,NE,N
11,24.926748,19.733318,16.063402,27.978859,22.765211,18.191744,31.244371,26.264208,20.397020,2019-03-14 11:00:00,NE,N,N,NE,NE,N,NE,NE,N
12,21.790680,14.152506,18.480005,26.879799,20.526823,17.942743,29.012484,24.801645,20.672960,2019-03-14 12:00:00,N,N,N,NE,N,N,NE,NE,N
13,24.626028,16.504276,11.604109,29.574062,20.729214,14.310940,35.284782,26.535641,18.510332,2019-03-14 13:00:00,NE,N,N,NE,N,N,NE,NE,N
14,18.441236,12.942580,6.908709,24.792383,18.083937,11.879501,29.735884,23.131474,15.932318,2019-03-14 14:00:00,N,N,N,NE,N,N,NE,NE,N
15,15.477728,8.901130,3.952931,19.840170,12.766388,7.707185,22.721962,15.891609,10.113707,2019-03-14 15:00:00,N,N,N,N,N,N,NE,N,N
16,23.127375,15.097887,10.036444,26.912611,18.365913,12.574843,30.356310,21.834284,13.952190,2019-03-14 16:00:00,NE,N,N,NE,N,N,NE,N,N
17,14.276297,14.497731,12.779557,11.453462,13.984239,14.391809,6.409722,13.266139,15.112585,2019-03-14 17:00:00,N,N,N,N,N,N,N,N,N
18,354.457489,352.640961,349.491150,350.632812,347.442871,347.971588,346.773438,344.163422,353.972900,2019-03-14 18:00:00,N,N,N,N,N,N,N,N,N
19,342.045227,326.472015,333.458344,331.418091,333.454285,10.607583,342.508240,21.431984,28.615786,2019-03-14 19:00:00,N,NW,NW,NW,NW,N,N,N,NE
20,40.990284,43.077724,43.576469,42.359600,42.645981,43.696217,40.638668,38.830143,37.662098,2019-03-14 20:00:00,NE,NE,NE,NE,NE,NE,NE,NE,NE
21,25.130341,26.172956,34.680260,37.134045,35.470184,37.690159,39.498272,38.674744,36.507961,2019-03-14 21:00:00,NE,NE,NE,NE,NE,NE,NE,NE,NE
22,352.095764,334.008606,0.317085,342.145538,335.401276,15.590289,4.176770,25.023409,38.252254,2019-03-14 22:00:00,N,NW,N,N,NW,N,N,NE,NE
23,14.068933,0.619689,344.928772,7.373981,350.039795,337.820618,0.698701,351.467346,5.556577,2019-03-14 23:00:00,N,N,N,N,N,N,N,N,N
24,35.069824,36.892147,50.051136,32.326710,30.453682,39.034668,33.805092,28.218241,29.747986,2019-03-15 00:00:00,NE,NE,NE,NE,NE,NE,NE,NE,NE
25,29.594635,39.430542,64.388298,28.818125,29.725065,46.260326,30.854996,27.606667,29.029234,2019-03-15 01:00:00,NE,NE,NE,NE,NE,NE,NE,NE,NE
26,15.460597,22.707071,56.585384,16.381989,16.452257,40.350788,19.233429,15.609796,14.651903,2019-03-15 02:00:00,N,NE,NE,N,N,NE,N,N,N
27,29.085814,40.389175,65.002556,29.448469,29.480381,52.519920,30.312706,25.897808,28.233597,2019-03-15 03:00:00,NE,NE,NE,NE,NE,NE,NE,NE,NE
28,28.552349,37.385532,61.113743,28.242859,31.186043,53.311153,30.486002,29.493219,41.850235,2019-03-15 04:00:00,NE,NE,NE,NE,NE,NE,NE,NE,NE
29,29.276131,34.493767,66.978554,28.732283,26.169376,41.023506,30.694952,25.916714,25.587336,2019-03-15 05:00:00,NE,NE,NE,NE,NE,NE,NE,NE,NE
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
426,205.503998,198.258057,199.598969,210.712006,206.200119,212.872864,212.489120,211.304337,222.880646,2019-03-31 18:00:00,SW,S,S,SW,SW,SW,SW,SW,SW
427,153.605453,139.707611,118.465225,158.858200,145.381851,127.808655,164.322525,147.175903,134.257553,2019-03-31 19:00:00,SE,SE,SE,S,SE,SE,S,SE,SE
428,130.895950,107.157005,92.522911,133.515915,76.959236,84.979652,152.680542,28.920961,56.838703,2019-03-31 20:00:00,SE,E,E,SE,E,E,SE,NE,NE
429,357.573547,345.150421,2.452557,1.375463,4.556310,349.095001,350.602997,342.322113,285.555511,2019-03-31 21:00:00,N,N,N,N,N,N,N,N,W
430,307.253632,272.744812,290.450134,332.349487,261.864532,237.390274,5.113571,354.302063,213.934662,2019-03-31 22:00:00,NW,W,W,NW,W,SW,N,N,SW
431,178.959396,159.095230,108.958748,181.367371,200.121246,180.810501,178.397034,216.510788,247.019730,2019-03-31 23:00:00,S,S,E,S,S,S,S,SW,SW
432,17.730951,22.591179,29.826262,14.147835,18.709936,22.382448,10.248152,12.921761,13.198356,2019-04-01 00:00:00,N,NE,NE,N,N,N,N,N,N
433,16.351746,16.017914,14.318344,9.306870,14.274384,12.149020,4.658353,9.556910,8.579154,2019-04-01 01:00:00,N,N,N,N,N,N,N,N,N
434,39.676323,33.035492,36.418922,34.766537,31.668062,32.729225,29.599333,27.288544,24.121822,2019-04-01 02:00:00,NE,NE,NE,NE,NE,NE,NE,NE,NE
435,45.667625,47.531067,50.267048,45.292950,46.727619,56.976566,38.721573,34.694546,34.693424,2019-04-01 03:00:00,NE,NE,NE,NE,NE,NE,NE,NE,NE
436,32.576996,40.248173,56.602592,42.373100,42.898914,70.188416,50.315296,47.809792,98.407974,2019-04-01 04:00:00,NE,NE,NE,NE,NE,E,NE,NE,E
437,55.697872,60.552765,63.337410,59.237381,64.377098,70.008972,60.200249,67.531006,74.693993,2019-04-01 05:00:00,NE,NE,NE,NE,NE,E,NE,E,E
438,44.217960,58.179440,65.103096,37.362171,46.231091,62.213650,37.633549,37.190243,37.596035,2019-04-01 06:00:00,NE,NE,NE,NE,NE,NE,NE,NE,NE
439,31.535448,29.111359,22.423264,33.741241,30.731396,24.767660,33.722858,28.585545,20.949036,2019-04-01 07:00:00,NE,NE,N,NE,NE,NE,NE,NE,N
440,27.986780,21.942091,19.034180,29.953903,23.803482,17.468044,32.945690,25.322161,17.380209,2019-04-01 08:00:00,NE,N,N,NE,NE,N,NE,NE,N
441,28.220646,23.243433,31.545774,30.705961,22.076536,19.490601,36.866600,26.129925,19.543903,2019-04-01 09:00:00,NE,NE,NE,NE,N,N,NE,NE,N
442,17.964436,11.604847,9.380964,20.791887,13.829275,9.061502,26.310543,16.996597,8.643522,2019-04-01 10:00:00,N,N,N,N,N,N,NE,N,N
443,19.699303,9.539288,357.852234,25.609737,10.880847,357.836243,33.317142,15.614931,358.355621,2019-04-01 11:00:00,N,N,N,NE,N,N,NE,N,N
444,0.451858,351.899078,335.115204,21.477747,356.240753,344.008453,41.816902,12.008430,353.132782,2019-04-01 12:00:00,N,N,NW,N,N,N,NE,N,N
445,330.126831,343.736816,339.346436,323.458801,328.845215,332.976959,296.074738,293.837494,309.354431,2019-04-01 13:00:00,NW,N,N,NW,NW,NW,NW,NW,NW
446,298.914215,326.904877,325.387268,286.730072,308.017883,311.110687,249.969757,258.811340,278.010162,2019-04-01 14:00:00,NW,NW,NW,W,NW,NW,W,W,W
447,260.784882,279.348511,300.614960,254.082153,284.464813,310.415619,236.019638,252.022308,277.551880,2019-04-01 15:00:00,W,W,NW,W,W,NW,SW,W,W
448,280.065399,289.760925,312.277344,255.464355,295.313477,330.187469,233.525833,255.455185,304.959137,2019-04-01 16:00:00,W,W,NW,W,NW,NW,SW,W,NW
449,288.731262,295.234192,321.352234,267.877289,286.655884,321.282135,258.071350,261.760376,296.452789,2019-04-01 17:00:00,W,NW,NW,W,W,NW,W,W,NW
450,359.546783,333.135345,325.188690,351.911621,352.224670,330.100403,345.978516,347.609436,352.823303,2019-04-01 18:00:00,N,NW,NW,N,N,NW,N,N,N
451,26.580009,18.003040,0.276022,15.815903,16.471466,1.101136,6.974278,8.618879,349.209320,2019-04-01 19:00:00,NE,N,N,N,N,N,N,N,N
452,22.955774,24.860769,38.997837,9.304931,14.193188,22.360701,3.093912,4.320095,3.710104,2019-04-01 20:00:00,NE,NE,NE,N,N,N,N,N,N
453,22.050144,41.805973,124.363617,19.316019,31.694017,129.237701,18.866049,32.911240,96.045326,2019-04-01 21:00:00,N,NE,SE,N,NE,SE,N,NE,E
454,70.917793,77.094551,78.415321,40.081352,44.778252,103.477394,35.246399,33.397575,49.642990,2019-04-01 22:00:00,E,E,E,NE,NE,E,NE,NE,NE
455,30.311886,24.393637,37.610897,31.683744,27.257345,29.541222,34.606052,28.689499,28.181469,2019-04-01 23:00:00,NE,NE,NE,NE,NE,NE,NE,NE,NE