<a href="https://colab.research.google.com/github/granantuin/Model_vs_data_label/blob/master/Copia_de_Display_x_y_data_rawmodel.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [17]:
!pip install pandas_ml

Requirement already satisfied: pandas_ml in /usr/local/lib/python3.6/dist-packages (0.6.1)
Requirement already satisfied: enum34 in /usr/local/lib/python3.6/dist-packages (from pandas_ml) (1.1.6)
Requirement already satisfied: pandas>=0.19.0 in /usr/local/lib/python3.6/dist-packages (from pandas_ml) (0.22.0)
Requirement already satisfied: python-dateutil>=2 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.19.0->pandas_ml) (2.5.3)
Requirement already satisfied: numpy>=1.9.0 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.19.0->pandas_ml) (1.14.6)
Requirement already satisfied: pytz>=2011k in /usr/local/lib/python3.6/dist-packages (from pandas>=0.19.0->pandas_ml) (2018.9)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.6/dist-packages (from python-dateutil>=2->pandas>=0.19.0->pandas_ml) (1.11.0)

In [0]:
from sklearn.metrics import confusion_matrix ,accuracy_score,f1_score,recall_score
from pandas_ml import ConfusionMatrix
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns

In [3]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [0]:
y_data=pd.read_excel("/content/drive/My Drive/Colab Notebooks/model_vs_data/Coron_Mars_H24to48_dir/y_data.xlsx")
x_data=pd.read_csv("/content/drive/My Drive/Colab Notebooks/model_vs_data/Coron_Mars_H24to48_dir/x_data",usecols=range(1,10))

In [0]:
NE=y_data[(y_data["value"]>22.5) & (y_data["value"]<67.5)]
NE["label"]="NE"
E=y_data[(y_data["value"]>67.5) & (y_data["value"]<112.5)]
E["label"]="E"
SE=y_data[(y_data["value"]>112.5) & (y_data["value"]<157.5)]
SE["label"]="SE"
S=y_data[(y_data["value"]>157.5) & (y_data["value"]<202.5)]
S["label"]="S"
SW=y_data[(y_data["value"]>202.5) & (y_data["value"]<247.5)]
SW["label"]="SW"
W=y_data[(y_data["value"]>247.5) & (y_data["value"]<292.5)]
W["label"]="W"
NW=y_data[(y_data["value"]>292.5) & (y_data["value"]<337.5)]
NW["label"]="NW"
N=y_data[(y_data["value"]>337.5) | (y_data["value"]<22.5)]
N["label"]="N"
winds=[NE,N,E,SE,S,SW,W,NW]
y_data=pd.concat(winds)
y_data=y_data.sort_values(by="data")

In [26]:
y_data

                   data  value label
0   2019-03-14 00:00:00     51    NE
1   2019-03-14 01:00:00     60    NE
2   2019-03-14 02:00:00     42    NE
3   2019-03-14 03:00:00     47    NE
4   2019-03-14 04:00:00     85     E
5   2019-03-14 05:00:00     78     E
6   2019-03-14 06:00:00     88     E
7   2019-03-14 07:00:00     84     E
8   2019-03-14 08:00:00     49    NE
9   2019-03-14 09:00:00     62    NE
10  2019-03-14 10:00:00     53    NE
11  2019-03-14 11:00:00     59    NE
12  2019-03-14 12:00:00     61    NE
13  2019-03-14 13:00:00     59    NE
14  2019-03-14 14:00:00     52    NE
15  2019-03-14 15:00:00     55    NE
16  2019-03-14 16:00:00     50    NE
17  2019-03-14 17:00:00     50    NE
18  2019-03-14 18:00:00     33    NE
19  2019-03-14 19:00:00     41    NE
20  2019-03-14 20:00:00     56    NE
21  2019-03-14 21:00:00     60    NE
22  2019-03-14 22:00:00     61    NE
23  2019-03-14 23:00:00     64    NE
24  2019-03-15 00:00:00     58    NE
25  2019-03-15 01:00:00     59    NE
26  2019-03-15 02:00:00     48    NE
27  2019-03-15 03:00:00     54    NE
28  2019-03-15 04:00:00     42    NE
29  2019-03-15 05:00:00     32    NE
..                  ...    ...   ...
426 2019-03-31 18:00:00     49    NE
427 2019-03-31 19:00:00     87     E
428 2019-03-31 20:00:00     70     E
429 2019-03-31 21:00:00     35    NE
430 2019-03-31 22:00:00     34    NE
431 2019-03-31 23:00:00     38    NE
432 2019-04-01 00:00:00     48    NE
433 2019-04-01 01:00:00     53    NE
434 2019-04-01 02:00:00    289     W
435 2019-04-01 03:00:00    223    SW
436 2019-04-01 04:00:00     53    NE
437 2019-04-01 05:00:00     97     E
438 2019-04-01 06:00:00     75     E
439 2019-04-01 07:00:00     72     E
440 2019-04-01 08:00:00     53    NE
441 2019-04-01 09:00:00     50    NE
442 2019-04-01 10:00:00     45    NE
443 2019-04-01 11:00:00    319    NW
444 2019-04-01 12:00:00    261     W
445 2019-04-01 13:00:00    249     W
446 2019-04-01 14:00:00    242    SW
447 2019-04-01 15:00:00    233    SW
448 2019-04-01 16:00:00    227    SW
449 2019-04-01 17:00:00    222    SW
450 2019-04-01 18:00:00    208    SW
451 2019-04-01 19:00:00    237    SW
452 2019-04-01 20:00:00    215    SW
453 2019-04-01 21:00:00     76     E
454 2019-04-01 22:00:00     93     E
455 2019-04-01 23:00:00     74     E

[456 rows x 3 columns]

In [0]:
x_data["date"]=y_data["data"]

In [29]:
x_data

    label0 label1 label2 label3 label4 label5 label6 label7 label8
0       NE     NE     NE     NE     NE     NE     NE     NE     NE
1       NE     NE     NE     NE     NE     NE     NE     NE     NE
2       NE      N     NE     NE      N      N     NE     NE      N
3       NE     NE     NE     NE     NE     NE     NE     NE     NE
4       NE     NE     NE     NE     NE     NE     NE     NE      N
5       NE     NE     NE     NE     NE     NE     NE     NE     NE
6       NE     NE     NE     NE     NE     NE     NE     NE     NE
7       NE     NE     NE     NE     NE      N     NE     NE      N
8       NE     NE     NE     NE     NE     NE     NE     NE     NE
9       NE     NE     NE     NE     NE      N     NE     NE      N
10      NE     NE     NE     NE     NE      N     NE     NE      N
11      NE      N      N     NE     NE      N     NE     NE      N
12       N      N      N     NE      N      N     NE     NE      N
13      NE      N      N     NE      N      N     NE     NE      N
14       N      N      N     NE      N      N     NE     NE      N
15       N      N      N      N      N      N     NE      N      N
16      NE      N      N     NE      N      N     NE      N      N
17       N      N      N      N      N      N      N      N      N
18       N      N      N      N      N      N      N      N      N
19       N     NW     NW     NW     NW      N      N      N     NE
20      NE     NE     NE     NE     NE     NE     NE     NE     NE
21      NE     NE     NE     NE     NE     NE     NE     NE     NE
22       N     NW      N      N     NW      N      N     NE     NE
23       N      N      N      N      N      N      N      N      N
24      NE     NE     NE     NE     NE     NE     NE     NE     NE
25      NE     NE     NE     NE     NE     NE     NE     NE     NE
26       N     NE     NE      N      N     NE      N      N      N
27      NE     NE     NE     NE     NE     NE     NE     NE     NE
28      NE     NE     NE     NE     NE     NE     NE     NE     NE
29      NE     NE     NE     NE     NE     NE     NE     NE     NE
..     ...    ...    ...    ...    ...    ...    ...    ...    ...
426     SW      S      S     SW     SW     SW     SW     SW     SW
427     SE     SE     SE      S     SE     SE      S     SE     SE
428     SE      E      E     SE      E      E     SE     NE     NE
429      N      N      N      N      N      N      N      N      W
430     NW      W      W     NW      W     SW      N      N     SW
431      S      S      E      S      S      S      S     SW     SW
432      N     NE     NE      N      N      N      N      N      N
433      N      N      N      N      N      N      N      N      N
434     NE     NE     NE     NE     NE     NE     NE     NE     NE
435     NE     NE     NE     NE     NE     NE     NE     NE     NE
436     NE     NE     NE     NE     NE      E     NE     NE      E
437     NE     NE     NE     NE     NE      E     NE      E      E
438     NE     NE     NE     NE     NE     NE     NE     NE     NE
439     NE     NE      N     NE     NE     NE     NE     NE      N
440     NE      N      N     NE     NE      N     NE     NE      N
441     NE     NE     NE     NE      N      N     NE     NE      N
442      N      N      N      N      N      N     NE      N      N
443      N      N      N     NE      N      N     NE      N      N
444      N      N     NW      N      N      N     NE      N      N
445     NW      N      N     NW     NW     NW     NW     NW     NW
446     NW     NW     NW      W     NW     NW      W      W      W
447      W      W     NW      W      W     NW     SW      W      W
448      W      W     NW      W     NW     NW     SW      W     NW
449      W     NW     NW      W      W     NW      W      W     NW
450      N     NW     NW      N      N     NW      N      N      N
451     NE      N      N      N      N      N      N      N      N
452     NE     NE     NE      N      N      N      N      N      N
453      N     NE     SE      N     NE     SE      N     NE      E
454      E      E      E     NE     NE      E     NE     NE     NE
455     NE     NE     NE     NE     NE     NE     NE     NE     NE

[456 rows x 9 columns]

In [0]:
for c in ['0', '1', '2', '3', '4', '5', '6', '7', '8']:
  NE=x_data[(x_data[c]>22.5) & (x_data[c]<67.5)]
  NE["label"+c]="NE"
  E=x_data[(x_data[c]>67.5) & (x_data[c]<112.5)]
  E["label"+c]="E"
  SE=x_data[(x_data[c]>112.5) & (x_data[c]<157.5)]
  SE["label"+c]="SE"
  S=x_data[(x_data[c]>157.5) & (x_data[c]<202.5)]
  S["label"+c]="S"
  SW=x_data[(x_data[c]>202.5) & (x_data[c]<247.5)]
  SW["label"+c]="SW"
  W=x_data[(x_data[c]>247.5) & (x_data[c]<292.5)]
  W["label"+c]="W"
  NW=x_data[(x_data[c]>292.5) & (x_data[c]<337.5)]
  NW["label"+c]="NW"
  N=x_data[(x_data[c]>337.5) | (x_data[c]<22.5)]
  N["label"+c]="N"
  winds=[NE,N,E,SE,S,SW,W,NW]
  x_data=pd.concat(winds)
  x_data=x_data.sort_values(by="date")

In [0]:
x_data=x_data.iloc[:, 10:]

In [10]:
for label in x_data.columns:
  print(label)
  print("accuracy=",accuracy_score(y_data["label"], x_data[label]), )
  print("f1=",f1_score(y_data["label"], x_data[label],average="micro"),)
  print("recall=",recall_score(y_data["label"],x_data[label],average="micro",),)

label0
accuracy= 0.42105263157894735
f1= 0.42105263157894735
recall= 0.42105263157894735
label1
accuracy= 0.35526315789473684
f1= 0.35526315789473684
recall= 0.35526315789473684
label2
accuracy= 0.375
f1= 0.375
recall= 0.375
label3
accuracy= 0.44956140350877194
f1= 0.4495614035087719
recall= 0.44956140350877194
label4
accuracy= 0.3530701754385965
f1= 0.3530701754385965
recall= 0.3530701754385965
label5
accuracy= 0.31798245614035087
f1= 0.31798245614035087
recall= 0.31798245614035087
label6
accuracy= 0.4868421052631579
f1= 0.4868421052631579
recall= 0.4868421052631579
label7
accuracy= 0.3991228070175439
f1= 0.3991228070175439
recall= 0.3991228070175439
label8
accuracy= 0.2675438596491228
f1= 0.2675438596491228
recall= 0.2675438596491228

In [24]:
for label in x_data.columns:
  print(label)
  print(ConfusionMatrix(y_data["label"],x_data[label]))

label0
Predicted   E    N   NE  NW   S  SE  SW   W  __all__
Actual
E           2    5   18   0   5   2   1   1       34
N           0    4    8   0   1   0   3   2       18
NE         10   72  176   3  10   7  20   6      304
NW          1    3    2   0   0   0   2   1        9
S           2    2    6   0   2   0   1   0       13
SE          1    2    3   0   0   0   0   1        7
SW          2    9   12   1   2   1   6   3       36
W           0    9   15   4   1   0   4   2       35
__all__    18  106  240   8  21  10  37  16      456
label1
Predicted   E    N   NE  NW   S  SE  SW   W  __all__
Actual
E           3    6   17   0   5   1   1   1       34
N           0    6    6   0   0   0   4   2       18
NE         24   92  142   2  13   6  19   6      304
NW          1    4    1   0   0   0   3   0        9
S           3    2    5   0   2   0   1   0       13
SE          2    2    2   0   0   0   0   1        7
SW          4    8   10   3   2   1   6   2       36
W           1   13   12   2   1   0   3   3       35
__all__    38  133  195   7  23   8  37  15      456
label2
Predicted   E   N   NE  NW   S  SE  SW  W  __all__
Actual
E           4   5   15   0   5   3   2  0       34
N           3   2    5   1   0   1   5  1       18
NE         42  63  153   4  11   6  21  4      304
NW          0   1    4   0   0   1   3  0        9
S           5   2    3   0   2   0   1  0       13
SE          2   1    2   0   1   0   0  1        7
SW          6   9    5   5   2   2   7  0       36
W           1  11   12   4   0   0   4  3       35
__all__    63  94  199  14  21  13  43  9      456
label3
Predicted   E   N   NE  NW   S  SE  SW   W  __all__
Actual
E           1   4   20   0   5   2   1   1       34
N           0   3    9   1   1   0   4   0       18
NE         11  63  189   2  12   4  18   5      304
NW          1   2    3   0   0   0   2   1        9
S           1   2    7   0   2   0   1   0       13
SE          1   2    3   0   0   0   0   1        7
SW          2  11   10   0   2   1   6   4       36
W           0   8   16   3   1   0   3   4       35
__all__    17  95  257   6  23   7  35  16      456
label4
Predicted   E    N   NE  NW   S  SE  SW   W  __all__
Actual
E           1    6   18   0   5   2   1   1       34
N           0    6    6   1   0   0   4   1       18
NE         18   95  144   6  11   6  19   5      304
NW          0    4    1   0   0   1   2   1        9
S           3    2    5   0   2   0   1   0       13
SE          1    2    3   0   0   0   0   1        7
SW          2   10   10   2   2   2   5   3       36
W           0   10   14   4   1   0   3   3       35
__all__    25  135  201  13  21  11  35  15      456
label5
Predicted   E    N   NE  NW   S  SE  SW   W  __all__
Actual
E           5    9   10   0   6   2   2   0       34
N           2    4    5   1   0   0   4   2       18
NE         36   92  124   4  12   9  21   6      304
NW          0    2    3   0   1   0   2   1        9
S           5    2    3   0   2   0   1   0       13
SE          1    1    3   0   1   0   0   1        7
SW          5   10    5   5   2   2   7   0       36
W           1   11   12   4   0   0   4   3       35
__all__    55  131  165  14  24  13  41  13      456
label6
Predicted   E   N   NE  NW   S  SE  SW   W  __all__
Actual
E           1   4   21   0   3   2   2   1       34
N           0   3    9   1   1   0   3   1       18
NE         11  52  204   1  11   4  17   4      304
NW          1   2    3   0   0   0   2   1        9
S           0   2    8   0   2   0   1   0       13
SE          1   1    4   0   0   0   1   0        7
SW          3  11   10   0   2   0   8   2       36
W           0   6   19   2   1   0   3   4       35
__all__    17  81  278   4  20   6  37  13      456
label7
Predicted   E    N   NE  NW   S  SE  SW   W  __all__
Actual
E           1    5   20   0   2   3   3   0       34
N           1    5    6   1   0   0   4   1       18
NE         16   82  163   4   8   7  18   6      304
NW          0    4    1   1   0   1   2   0        9
S           2    2    6   0   2   0   1   0       13
SE          0    1    4   0   0   1   0   1        7
SW          2   12    9   0   2   1   5   5       36
W           0    8   16   3   1   0   3   4       35
__all__    22  119  225   9  15  13  36  17      456
label8
Predicted   E    N   NE  NW   S  SE  SW   W  __all__
Actual
E           2   12   11   0   3   3   3   0       34
N           1    4    7   1   0   0   4   1       18
NE         28  120  105   5  10  10  19   7      304
NW          0    2    3   0   1   0   2   1        9
S           3    2    5   0   2   0   1   0       13
SE          0    1    4   0   0   1   0   1        7
SW          4   13    5   2   3   1   4   4       36
W           1   10   13   3   0   0   4   4       35
__all__    39  164  153  11  19  15  37  18      456

In [33]:
confusion_matrix(y_data["label"],x_data["label8"])

array([[  2,  12,  11,   0,   3,   3,   3,   0],
       [  1,   4,   7,   1,   0,   0,   4,   1],
       [ 28, 120, 105,   5,  10,  10,  19,   7],
       [  0,   2,   3,   0,   1,   0,   2,   1],
       [  3,   2,   5,   0,   2,   0,   1,   0],
       [  0,   1,   4,   0,   0,   1,   0,   1],
       [  4,  13,   5,   2,   3,   1,   4,   4],
       [  1,  10,  13,   3,   0,   0,   4,   4]])