<a href="https://colab.research.google.com/github/granantuin/Model_vs_data_label/blob/master/Display_x_y_data_rawmodel_filter__wind.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
!pip install pandas_ml

Requirement already satisfied: pandas_ml in /usr/local/lib/python3.6/dist-packages (0.6.1)
Requirement already satisfied: enum34 in /usr/local/lib/python3.6/dist-packages (from pandas_ml) (1.1.6)
Requirement already satisfied: pandas>=0.19.0 in /usr/local/lib/python3.6/dist-packages (from pandas_ml) (0.23.4)
Requirement already satisfied: python-dateutil>=2.5.0 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.19.0->pandas_ml) (2.5.3)
Requirement already satisfied: pytz>=2011k in /usr/local/lib/python3.6/dist-packages (from pandas>=0.19.0->pandas_ml) (2018.9)
Requirement already satisfied: numpy>=1.9.0 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.19.0->pandas_ml) (1.16.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.6/dist-packages (from python-dateutil>=2.5.0->pandas>=0.19.0->pandas_ml) (1.11.0)

In [0]:
from sklearn.metrics import confusion_matrix ,accuracy_score,f1_score,recall_score
from sklearn.metrics import precision_recall_fscore_support
from pandas_ml import ConfusionMatrix
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns

In [5]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [0]:
drive_4km="/content/drive/My Drive/Colab Notebooks/model_vs_data/Coron_4km_h24toh48_dir/"
drive_1km="/content/drive/My Drive/Colab Notebooks/model_vs_data/Coron_Mars_H24to48_dir/"
dr=[drive_4km,drive_1km]

In [0]:
y_data=pd.read_excel(dr[1]+"y_data.xlsx")
x_data=pd.read_csv(dr[1]+"x_data",usecols=range(1,10))
y_sp=pd.read_excel(dr[1]+"y_sp.xlsx")

In [12]:
y_data.head()

                 date  value
0 2019-03-14 00:00:00     51
1 2019-03-14 01:00:00     60
2 2019-03-14 02:00:00     42
3 2019-03-14 03:00:00     47
4 2019-03-14 04:00:00     85

In [13]:
x_data.head()

,0,1,2,3,4,5,6,7,8
0,17.730951,22.591179,29.826262,14.147835,18.709936,22.382448,10.248152,12.921761,13.198356
1,16.351746,16.017914,14.318344,9.306870,14.274384,12.149020,4.658353,9.556910,8.579154
2,39.676323,33.035492,36.418922,34.766537,31.668062,32.729225,29.599333,27.288544,24.121822
3,45.667625,47.531067,50.267048,45.292950,46.727619,56.976566,38.721573,34.694546,34.693424
4,32.576996,40.248173,56.602592,42.373100,42.898914,70.188416,50.315296,47.809792,98.407974

In [0]:
con=[x_data,y_data]
tot=pd.concat(con,axis=1)

In [15]:
tot

,0,1,2,3,4,5,6,7,8,date,value
0,17.730951,22.591179,29.826262,14.147835,18.709936,22.382448,10.248152,12.921761,13.198356,2019-03-14 00:00:00,51
1,16.351746,16.017914,14.318344,9.306870,14.274384,12.149020,4.658353,9.556910,8.579154,2019-03-14 01:00:00,60
2,39.676323,33.035492,36.418922,34.766537,31.668062,32.729225,29.599333,27.288544,24.121822,2019-03-14 02:00:00,42
3,45.667625,47.531067,50.267048,45.292950,46.727619,56.976566,38.721573,34.694546,34.693424,2019-03-14 03:00:00,47
4,32.576996,40.248173,56.602592,42.373100,42.898914,70.188416,50.315296,47.809792,98.407974,2019-03-14 04:00:00,85
5,55.697872,60.552765,63.337410,59.237381,64.377098,70.008972,60.200249,67.531006,74.693993,2019-03-14 05:00:00,78
6,44.217960,58.179440,65.103096,37.362171,46.231091,62.213650,37.633549,37.190243,37.596035,2019-03-14 06:00:00,88
7,31.535448,29.111359,22.423264,33.741241,30.731396,24.767660,33.722858,28.585545,20.949036,2019-03-14 07:00:00,84
8,27.986780,21.942091,19.034180,29.953903,23.803482,17.468044,32.945690,25.322161,17.380209,2019-03-14 08:00:00,49
9,28.220646,23.243433,31.545774,30.705961,22.076536,19.490601,36.866600,26.129925,19.543903,2019-03-14 09:00:00,62
10,17.964436,11.604847,9.380964,20.791887,13.829275,9.061502,26.310543,16.996597,8.643522,2019-03-14 10:00:00,53
11,19.699303,9.539288,357.852234,25.609737,10.880847,357.836243,33.317142,15.614931,358.355621,2019-03-14 11:00:00,59
12,0.451858,351.899078,335.115204,21.477747,356.240753,344.008453,41.816902,12.008430,353.132782,2019-03-14 12:00:00,61
13,330.126831,343.736816,339.346436,323.458801,328.845215,332.976959,296.074738,293.837494,309.354431,2019-03-14 13:00:00,59
14,298.914215,326.904877,325.387268,286.730072,308.017883,311.110687,249.969757,258.811340,278.010162,2019-03-14 14:00:00,52
15,260.784882,279.348511,300.614960,254.082153,284.464813,310.415619,236.019638,252.022308,277.551880,2019-03-14 15:00:00,55
16,280.065399,289.760925,312.277344,255.464355,295.313477,330.187469,233.525833,255.455185,304.959137,2019-03-14 16:00:00,50
17,288.731262,295.234192,321.352234,267.877289,286.655884,321.282135,258.071350,261.760376,296.452789,2019-03-14 17:00:00,50
18,359.546783,333.135345,325.188690,351.911621,352.224670,330.100403,345.978516,347.609436,352.823303,2019-03-14 18:00:00,33
19,26.580009,18.003040,0.276022,15.815903,16.471466,1.101136,6.974278,8.618879,349.209320,2019-03-14 19:00:00,41
20,22.955774,24.860769,38.997837,9.304931,14.193188,22.360701,3.093912,4.320095,3.710104,2019-03-14 20:00:00,56
21,22.050144,41.805973,124.363617,19.316019,31.694017,129.237701,18.866049,32.911240,96.045326,2019-03-14 21:00:00,60
22,70.917793,77.094551,78.415321,40.081352,44.778252,103.477394,35.246399,33.397575,49.642990,2019-03-14 22:00:00,61
23,30.311886,24.393637,37.610897,31.683744,27.257345,29.541222,34.606052,28.689499,28.181469,2019-03-14 23:00:00,64
24,28.655237,24.830170,39.971115,26.555639,23.596745,22.284010,26.333248,21.519440,16.983866,2019-03-15 00:00:00,58
25,27.662020,23.954073,62.656872,25.099442,18.986723,11.991490,26.408899,17.648552,9.920604,2019-03-15 01:00:00,59
26,28.171389,22.407417,24.861040,28.845228,22.631750,19.751131,31.314478,22.902172,18.098251,2019-03-15 02:00:00,48
27,26.794695,25.450623,36.725132,27.933561,23.034374,22.911295,30.664244,23.207043,18.848972,2019-03-15 03:00:00,54
28,27.659206,26.337755,50.480835,25.722710,21.257271,22.985882,27.568802,20.889860,16.637358,2019-03-15 04:00:00,42
29,39.554688,38.038170,102.723061,33.451752,27.617159,25.850025,32.936100,24.578079,16.776093,2019-03-15 05:00:00,32
...,...,...,...,...,...,...,...,...,...,...,...
570,292.553497,289.143402,286.541290,293.816345,290.438782,286.706757,295.281830,291.684967,287.953033,2019-04-06 18:00:00,284
571,273.398682,283.293793,277.951172,297.128571,292.789307,280.078674,313.331787,297.417206,279.396332,2019-04-06 19:00:00,142
572,266.748657,266.897125,271.312164,265.469421,260.957520,254.218430,261.663574,254.765244,243.212952,2019-04-06 20:00:00,93
573,152.759613,146.193283,144.299850,157.460083,153.135880,153.292969,149.724274,148.248901,147.259018,2019-04-06 21:00:00,175
574,165.814011,181.786179,197.797165,353.133209,285.738556,256.392303,27.445147,4.356213,349.095154,2019-04-06 22:00:00,68
575,121.237633,126.432785,141.001801,74.867233,113.262268,149.551666,79.723747,73.374893,107.176346,2019-04-06 23:00:00,35
576,204.677231,175.004227,180.908478,191.001755,180.466690,187.321686,185.057327,185.886047,192.853394,2019-04-07 00:00:00,157
577,248.319992,242.047455,226.203644,229.909958,233.002655,233.808380,205.400116,210.379074,225.895660,2019-04-07 01:00:00,171
578,161.034958,172.776718,186.912491,167.657990,179.580444,193.148682,177.117111,186.815155,195.703690,2019-04-07 02:00:00,126
579,144.744293,152.294556,161.927246,146.631393,156.740082,167.929520,157.176605,168.843948,179.063705,2019-04-07 03:00:00,69
580,158.736450,164.218872,170.928009,157.533417,161.950256,166.168579,156.169235,159.767868,169.803223,2019-04-07 04:00:00,56
581,162.815338,167.011810,173.780701,165.442123,168.392166,169.979553,165.601624,168.054581,174.168915,2019-04-07 05:00:00,55
582,171.467712,170.822998,171.389954,171.193466,168.147705,168.176605,171.626389,173.002045,163.296188,2019-04-07 06:00:00,63
583,137.858749,132.387558,131.778854,143.419678,138.890991,137.042358,145.209351,137.428726,132.863159,2019-04-07 07:00:00,61
584,136.439774,131.886826,127.153992,137.916519,133.283249,128.551498,138.852798,132.173080,128.003616,2019-04-07 08:00:00,53
585,164.316223,158.693069,159.514389,168.822510,162.803375,160.322098,169.789948,161.099594,155.608841,2019-04-07 09:00:00,269
586,164.767349,162.912552,163.246567,164.953293,162.381973,161.704590,163.103195,159.979996,159.686676,2019-04-07 10:00:00,175
587,170.783066,169.428284,167.944595,172.288818,171.474869,170.286957,174.533981,173.257385,171.087189,2019-04-07 11:00:00,180
588,166.760300,160.038467,155.669540,166.745926,160.167313,156.581512,166.261246,159.965134,157.184418,2019-04-07 12:00:00,182
589,187.955963,179.718704,177.245560,193.809540,201.950302,191.120148,214.486328,267.806946,202.059723,2019-04-07 13:00:00,144
590,221.576889,328.993042,350.237579,238.216400,278.735352,345.737671,260.720673,281.669891,336.269745,2019-04-07 14:00:00,132
591,186.394577,188.695648,194.339844,187.341934,189.347031,192.898819,186.734589,188.605972,191.740112,2019-04-07 15:00:00,41
592,206.876068,206.235855,208.855103,207.782898,207.335190,209.541428,205.670578,204.013763,205.472977,2019-04-07 16:00:00,355
593,220.121826,222.411774,225.789276,222.645630,223.503204,225.700104,223.201859,221.647949,222.885803,2019-04-07 17:00:00,220
594,244.692642,243.842285,246.762054,245.569565,242.855347,244.456589,245.475693,241.539307,241.376740,2019-04-07 18:00:00,222
595,249.139450,248.722763,250.984634,248.382095,246.736206,247.850815,247.032806,243.892410,245.171173,2019-04-07 19:00:00,234
596,237.649673,238.462280,240.806900,235.025833,235.423874,237.409271,233.413193,232.374771,235.586746,2019-04-07 20:00:00,67
597,227.501282,228.392441,232.414230,226.930573,228.325745,229.776627,224.664062,225.171875,228.111191,2019-04-07 21:00:00,255
598,230.834671,228.836929,229.977020,230.470245,229.777618,229.636719,225.996017,225.219482,226.336716,2019-04-07 22:00:00,225
599,231.488281,230.302582,229.590271,225.899643,224.896240,223.711624,222.269989,220.702911,219.493973,2019-04-07 23:00:00,261

In [0]:
NE=y_data[(y_data["value"]>22.5) & (y_data["value"]<67.5)]
NE["label"]="NE"
E=y_data[(y_data["value"]>67.5) & (y_data["value"]<112.5)]
E["label"]="E"
SE=y_data[(y_data["value"]>112.5) & (y_data["value"]<157.5)]
SE["label"]="SE"
S=y_data[(y_data["value"]>157.5) & (y_data["value"]<202.5)]
S["label"]="S"
SW=y_data[(y_data["value"]>202.5) & (y_data["value"]<247.5)]
SW["label"]="SW"
W=y_data[(y_data["value"]>247.5) & (y_data["value"]<292.5)]
W["label"]="W"
NW=y_data[(y_data["value"]>292.5) & (y_data["value"]<337.5)]
NW["label"]="NW"
N=y_data[(y_data["value"]>337.5) | (y_data["value"]<22.5)]
N["label"]="N"
winds=[NE,N,E,SE,S,SW,W,NW]
y_data=pd.concat(winds)
y_data=y_data.sort_values(by="date")

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  # Remove the CWD from sys.path while we load stuff.
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if sys.path[0] == '':
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  app.launch_new_instance()

In [0]:
y_data

In [0]:
x_data["date"]=y_data["date"]

In [0]:
x_data

In [0]:
for c in ['0', '1', '2', '3', '4', '5', '6', '7', '8']:
  NE=x_data[(x_data[c]>22.5) & (x_data[c]<67.5)]
  NE["label"+c]="NE"
  E=x_data[(x_data[c]>67.5) & (x_data[c]<112.5)]
  E["label"+c]="E"
  SE=x_data[(x_data[c]>112.5) & (x_data[c]<157.5)]
  SE["label"+c]="SE"
  S=x_data[(x_data[c]>157.5) & (x_data[c]<202.5)]
  S["label"+c]="S"
  SW=x_data[(x_data[c]>202.5) & (x_data[c]<247.5)]
  SW["label"+c]="SW"
  W=x_data[(x_data[c]>247.5) & (x_data[c]<292.5)]
  W["label"+c]="W"
  NW=x_data[(x_data[c]>292.5) & (x_data[c]<337.5)]
  NW["label"+c]="NW"
  N=x_data[(x_data[c]>337.5) | (x_data[c]<22.5)]
  N["label"+c]="N"
  winds=[NE,N,E,SE,S,SW,W,NW]
  x_data=pd.concat(winds)
  x_data=x_data.sort_values(by="date")

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  import sys
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  # This is added back by InteractiveShellApp.init_path()
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  del sys.path[0]
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [0]:
x_data=x_data.iloc[:, 10:]

In [0]:
x_data

In [1]:
for label in x_data.columns:
  print(label)
  index=["E","N","NE","NW","S","SE","SW","W"]
  #print(pd.DataFrame(confusion_matrix(y_data["label"],x_data[label] ), index=index, columns=index))
  print(ConfusionMatrix(y_data["label"],x_data[label]))
  print("****************")
  print("Accuracy=","{:.2%}".format(accuracy_score(y_data["label"], x_data[label])))
  print("****************")
  results= precision_recall_fscore_support(y_data["label"], x_data[label], average=None, )
  df=pd.DataFrame({"Precision":results[0],"Recall":results[1],"F1":results[2],"W_DIR":index})
  df=df.set_index("W_DIR")
  print(df)
  print("*******************************************************")
  print("Average precision =","{:.2%}".format(df["Precision"].mean()))
  print("Average recall =","{:.2%}".format(df["Recall"].mean()))
  print("*******************************************************")

NameError: ignored